{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div id="side">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar  mete">
            <div class="sidebar-sticky pt-3">
                <ul id="onHover" class="nav flex-column">
                    <li class="nav-item">
                        <a id="selector_dashboard1" class="nav-link active" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="selector_profile1" class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Profile
                        </a>
                    </li>
                </ul>
                <ul id="onExit" class="nav flex-column" style="text-align: right">
                    <li class="nav-item">
                        <a id="selector_dashboard2" class="nav-link active" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="selector_profile2" class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div style="padding-left: 50px; width: 100%">
        <div class="row">
            <div id="tab_dashboard" class="col-sm-12 mb-5" style="display: none">
                <div class="container pr-5 pl-5 pt-3 " style="margin-top: 70px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <label for="country">City:</label>
                            <select class="custom-select d-block w-100" id="city_select" required="">
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div id="city_select_error" class="invalid-feedback">
                                Please select a valid city.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <label for="state">How many days:</label>
                            <select class="custom-select d-block w-100" id="day_select" required="">
                                <option value="0" disabled selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div id="day_select_error" class="invalid-feedback">
                                Please provide a valid day number.
                            </div>
                        </div>

                        <div class="col-12  text-right mt-3">
                            <button id="get_weather_condition" type="button" class="btn btn-secondary center-block">Get
                                Weather Condition
                            </button>
                        </div>
                    </div>

                    <hr>

                    <div id="weather_cards" class="row m-t-1 justify-content-center">

                    </div>
                </div>
            </div>
            <div id="tab_profile" class="col-sm-12" style="display: none">
                <div class="container  pr-5 pl-5 pt-3" style="margin-top: 70px;">
                    <p class="lead mt-2 mb-4" style="margin-bottom: 0px;font-weight: 350;">Update Profile</p>
                    <div class="needs-validation">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name <span
                                        style="font-size: 10px;"> (required)</span></label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                       required="">
                                <div id="firstName_error" class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name <span
                                        style="font-size: 10px;"> (required)</span></label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                       required="">
                                <div id="lastName_error" class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="Username"
                                       required="" readonly>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email <span style="font-size: 10px;"> (required)</span><span
                                    class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div id="email_error" class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Birthday <span style="font-size: 10px;"> (required)</span><span
                                    class="text-muted"></span></label>
                            <input type="date" class="form-control" id="birthday" placeholder="19-06-2020">
                            <div id="birthday_error" class="invalid-feedback">
                                Please enter a valid birthday.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Address <span style="font-size: 10px;"> (required)</span></label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                            <div id="adress_error" class="invalid-feedback">
                                Please enter your address.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <button id="cancel" class="btn btn-danger" style="min-width: 150px;">Cancel</button>
                            </div>
                            <div class="col-md-6 " style="text-align: right">
                                <button id="save" class="btn btn-primary" style="min-width: 150px;">Save</button>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <p class="lead mt-2 mb-4" style="margin-bottom: 0px;font-weight: 350;">Change Password</p>

                    <div class="needs-validation">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="password1">Password <span
                                        style="font-size: 10px;"> (required)</span></label>
                                <input type="password" class="form-control" id="password1" placeholder="" value=""
                                       required="">
                                <div id="password1_error" class="invalid-feedback">
                                    Valid password is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="password2">Again Password<span
                                        style="font-size: 10px;"> (required)</span></label>
                                <input type="password" class="form-control" id="password2" placeholder="" value=""
                                       required="">
                                <div id="password2_error" class="invalid-feedback">
                                    Passwords must be the same.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                            </div>
                            <div class="col-md-6 " style="text-align: right">
                                <button id="change_password" class="btn btn-warning" style="min-width: 150px;">Change
                                    Password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Weather Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p class="font-weight-normal pt-1">Date :</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p id="modal_date" class="font-weight-bold"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p class="font-weight-normal pt-1">avgtempC :</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p id="modal_avgtempC" class="font-weight-bold">Bold text.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p class="font-weight-normal pt-1">maxtempC :</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p id="modal_maxtempC" class="font-weight-bold">Bold text.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p class="font-weight-normal pt-1">mintempC :</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <p id="modal_mintempC" class="font-weight-bold">Bold text.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block ChildJS %}

    <script src="{% static "node_modules/highcharts/highcharts.js" %}"></script>

    <script src="{% static "js/core.js" %}"></script>
    <script src="{% static "js/handler_tab_navigation.js" %}"></script>
    <script src="{% static "js/page_dashboard.js" %}"></script>
    <script src="{% static "js/page_profile.js" %}"></script>

    <script>
        $(document).ready(function () {
            Core.init()
        })
    </script>

{% endblock %}

